// Primary Colors
$primary--color_black: #323232;
$primary--color_silver: #afafaf;
$primary--color_white: #ffffff;

/*Secondary Colors*/
$secondary--color_darkblack: #000000;
$secondary--color_mercury: #e1e1e1;
$secondary--color_alabaster: #fafafa;

// Breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
