@use "./partials/global" as *;
@use "./partials/variables" as *;
@use "./partials/fonts" as *;
@use "./partials/mixins" as *;

/* Footer h2 color white */
.footer h2 {
  @include h2;
  color: $primary--color_white;
}

/* Page title (subheader) */
.page__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)),
    url("../../assets/images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  height: 12.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #ffffff;
  padding: 0 1rem;
  margin-bottom: 1.5rem;

  @include tablet {
    height: 20.5rem;
    font-size: 3.75rem;
    line-height: 2rem;
    font-weight: 700;
    color: #ffffff;
    padding: 0 2rem;
    margin-bottom: 1.5rem;
  }
}

/* section paddings */
#about,
#photo__gallery {
  @include body__padding;

  @include tablet {
    padding: 0 2rem;
  }

  @include desktop {
    padding: 0 3rem;
  }
}

/* about image */
.header-img {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;

  @include tablet {
    padding: 1rem 4rem;
  }

  @include desktop {
    padding: 1rem 5.5rem;
  }
}

/* quote styling */
.quote {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;

  span.author {
    display: block;
    font-size: 0.8125rem;
    padding-top: 0.8rem;

    @include tablet {
      font-size: 1rem;
      padding-bottom: 1rem;
    }
  }

  @include tablet {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    padding: 0rem 2.5rem;
  }

  @include desktop {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    padding: 0rem 5.5rem;
    width: 77%;
  }
}

@include desktop {
  p.paragraph__title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
    padding: 0rem 5.5rem;
  }
}

.bees__paragraph {
  @include tablet {
    display: flex;
    justify-content: space-evenly;
    padding: 0rem 3rem;
    gap: 2rem;
  }

  @include desktop {
    padding: 0rem 5.5rem;
  }
}

/* gallery section, grayscale*/
#photo__gallery {
  background-color: $secondary--color_mercury;
  padding: 1rem;

  @include tablet {
    padding: 2rem;
  }

  @include desktop {
    padding: 3rem;
  }
}

.photo__gallery-items {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;

    img {
      width: 29vw;
    }
  }

  @include desktop {
    flex-direction: row;
    flex-wrap: wrap;

    img {
      width: 30vw;
    }
  }
}

.photo__gallery-items img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
}

.photo__gallery-items img:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
}

/* comment section*/
.comment {
  @include body__padding;

  @include tablet {
    padding: 0 2rem;
  }

  @include desktop {
    padding: 1rem 3rem;
  }

  display: flex;
  flex-direction: column;

  &__form {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
    padding: 1rem 0rem;
    justify-content: center;

    @include tablet {
      justify-content: center;
      width: 100%;
      margin-bottom: 4rem;

      form#commentForm {
        width: 50%;
      }
    }

    @include desktop {
      justify-content: center;
      width: 100%;
      margin-bottom: 4rem;

      form#commentForm {
        width: 50%;
      }
    }
  }

  &__form__avatar {
    object-fit: cover;
    object-position: 0 5%;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    margin-top: 1.2rem;
  }

  &__label {
    padding-bottom: 0.875rem;
    color: $secondary--color_mercury;
    font-weight: 600;
  }

  input#name {
    width: 100%;
    height: 2.25rem;
    border: 0.0625rem solid $secondary--color_mercury;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    padding: 0.75rem;
    margin-top: 0.25rem;
    font-family: "Avenir";
    font-size: 1.125rem;
    font-weight: 400;
    background-color: $secondary--color_alabaster;
  }

  textarea#Box {
    width: 100%;
    height: 6.25rem;
    border: 0.0625rem solid $secondary--color_mercury;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    padding: 0.75rem;
    margin-top: 0.25rem;
    font-family: "Avenir";
    font-size: 1.125rem;
    font-weight: 400;
    background-color: $secondary--color_alabaster;
  }

  input::placeholder {
    color: $primary--color_black;
    font-size: 1rem;
  }

  textarea::placeholder {
    color: $primary--color_black;
    font-size: 1rem;
  }

  input:invalid {
    outline: 0.125rem solid #d22d2d;
  }

  &__button {
    @include button;

    @include tablet {
      position: absolute;
      right: 10.875rem;
      width: 9.375rem;
      padding: 1rem 1rem;
    }

    @include desktop {
      position: absolute;
      right: 19.8125rem;
      width: 9.375rem;
      padding: 1rem 1rem;
    }
  }
}

.comment__name-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-top: 0.0625rem solid $secondary--color_mercury;
  border-bottom: 0.0625rem solid $secondary--color_mercury;
  padding: 1rem 3rem;

  @include desktop {
    width: 50%;
    margin: 0 20rem;
  }
}

.comments__display {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  .commentImage {
    height: 2.25rem;
    width: 2.25rem;
    background-color: $secondary--color_mercury;
    border-radius: 50%;
    position: absolute;
    left: 1.25rem;

    @include desktop {
      left: 22.8125rem;
    }
  }

  .comment__items {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p.commentTime {
      color: $secondary--color_mercury;
    }

    p.commentName {
      font-weight: 600;
    }
  }
}
