/* primary colors */
/* secondary Colors*/
/* breakpoints */
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
}
/* h2 mixin */
/* body padding mixin - This will give the sections a padding*/
/* paragraph title mixin */
/* p mixin */
/* logo styling mixin */
/*button*/
/* Resets */
html,
body,
ul,
li {
  margin: 0;
  padding: 0;
}

/* General */
h1 {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 700;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
    line-height: 4rem;
  }
}
@media screen and (min-width: 1280px) {
  h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media screen and (min-width: 1280px) {
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

p {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #323232;
}
@media screen and (min-width: 768px) {
  p {
    font-size: 14px;
    line-height: 22px;
  }
}
@media screen and (min-width: 1280px) {
  p {
    font-size: 14px;
    line-height: 22px;
  }
}

body {
  font-family: "Avenir";
}

a {
  color: #ffffff;
  text-decoration: none;
}

/* Header/menu */
.header {
  display: flex;
  flex-direction: column;
  background-color: #323232;
  justify-content: flex-start;
  align-items: center;
}
.header__nav {
  width: 100%;
  padding-left: 2rem;
}
.header__nav-item--active {
  font-weight: 600;
  color: #ffffff;
  border-bottom: 0.3rem solid #ffffff;
}
.header__nav-links {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #ffffff;
}
.header__nav-item {
  display: flex;
  justify-content: center;
  padding: 1rem 0rem;
  width: 50%;
}
@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
  }
  .header__nav-links {
    justify-content: flex-start;
    align-content: center;
    list-style-type: none;
    gap: 2rem;
  }
  .header__nav-item {
    width: auto;
    text-align: center;
    padding: 2rem 0rem;
    height: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .header__nav-links {
    flex-direction: row;
    align-content: center;
    list-style-type: none;
    gap: 2rem;
  }
  .header__nav-item {
    text-align: center;
    padding: 2rem 0rem;
    height: 100%;
  }
}
.header__logo {
  height: 1.25rem;
  margin: 1rem 1rem;
}

/* Page title (subheader) */
.page__title {
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../../assets/images/hero-shows.jpg");
  background-size: cover;
  background-position: 11% 27%;
  height: 22rem;
  padding: 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .page__title {
    height: 23.5rem;
    font-size: 3.75rem;
    line-height: 2rem;
    font-weight: 700;
    color: #ffffff;
    padding: 0 2rem;
    margin-bottom: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .page__title {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.subheader {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  color: #ffffff;
}

.iframe {
  width: 100%;
  height: 100px;
  transform-origin: transform scale(0.5) translate(-400px, -60px);
}
@media screen and (min-width: 768px) {
  .iframe {
    width: 50%;
  }
}
@media screen and (min-width: 1280px) {
  .iframe {
    width: 40%;
  }
}

/* Paragraph title */
.paragraph__title {
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.375rem;
  padding-top: 1rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .paragraph__title {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .paragraph__title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
  }
}

/* shows*/
.shows {
  padding: 0 1rem;
  margin-bottom: 1rem;
  padding-left: 2rem;
}
.shows__label__row {
  display: none;
}
@media screen and (min-width: 768px) {
  .shows__label__row {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    width: 62%;
    font-size: 12px;
    font-weight: 600;
    color: #e1e1e1;
  }
}
@media screen and (min-width: 1280px) {
  .shows {
    padding-left: 1rem;
  }
  .shows h2 {
    padding-left: 6rem;
  }
  .shows__label__row {
    padding-left: 5rem;
    width: 64%;
    justify-content: center;
    gap: 7rem;
  }
}

@media screen and (min-width: 1280px) {
  .shows__display {
    padding: 0 12rem;
  }
}

.show__card {
  border-bottom: 0.5px solid #e1e1e1;
  padding-bottom: 1rem 1rem;
  padding: 1rem 0rem;
}
@media screen and (min-width: 768px) {
  .show__card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .show__card p.show__label {
    display: none;
  }
  .show__card button.button {
    width: 205px;
  }
}
.show__card:hover {
  background-color: #e1e1e1;
}
.show__card:active {
  background-color: #fafafa;
}
.show__card p.showDate {
  font-size: 16px;
  line-height: 1.125rem;
  font-weight: 600;
  color: #323232;
}
.show__card p.showPlace {
  font-size: 16px;
  font-weight: 400;
}
.show__card p.showLocation {
  font-size: 16px;
  font-weight: 400;
}
.show__card p.show__label {
  color: #e1e1e1;
  font-weight: 600;
}
.show__card button {
  background-color: #323232;
  color: #ffffff;
  border-radius: 4px;
  padding: 1rem 3rem;
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  border: none;
}
.show__card button:hover {
  border-style: none;
  background-color: #000000;
}

/* Footer */
.footer {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  position: relative;
}
.footer__icons {
  justify-content: flex-start;
  gap: 2rem;
  display: flex;
}
.footer h2 {
  color: #ffffff;
}
.footer__paragraph-title {
  font-size: 1rem;
  line-height: 1.375rem;
  padding-top: 1rem;
  font-weight: 600;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .footer__paragraph-title {
    font-size: 0.9rem;
  }
}
.footer__paragraph-text {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #323232;
  color: #ffffff;
}
.footer__bottom-text {
  font-size: 0.625rem;
  color: #ffffff;
}
.footer__bottom {
  padding-top: 3rem;
}
.footer__bottom-logo {
  height: 1.25rem;
  margin: 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .footer__bottom-logo {
    position: absolute;
    top: 2.5rem;
    right: 1rem;
  }
}
.footer a {
  color: #ffffff;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .footer__socials {
    display: flex;
    flex-direction: row;
    padding: 0 1rem;
  }
  .footer__icons {
    display: flex;
    gap: 1rem;
    padding: 42px;
  }
  .footer h2 {
    font-size: 36px;
    line-height: 44px;
    color: #ffffff;
  }
  .footer__contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .footer__paragraph-text {
    font-size: 16px;
    line-height: 1.75rem;
    font-weight: 400;
    color: #323232;
    color: #ffffff;
  }
  .footer__bottom-text {
    padding-left: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__socials {
    display: flex;
    flex-direction: row;
    padding: 0 6rem;
  }
  .footer__icons {
    display: flex;
    gap: 1rem;
    padding: 42px;
  }
  .footer h2 {
    font-size: 36px;
    line-height: 44px;
    color: #ffffff;
  }
  .footer__contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .footer__paragraph-text {
    font-size: 16px;
    line-height: 1.75rem;
    font-weight: 400;
    color: #323232;
    color: #ffffff;
  }
  .footer__bottom-text {
    padding-left: 6.2rem;
  }
}/*# sourceMappingURL=shows.css.map */